<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<Header>
		<Title>ConsoleReadKey</Title>
		<Author>巉沨散人</Author>
		<Shortcut>cr</Shortcut>
		<Description>快速ConsoleReadKey</Description>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="csharp">
			<![CDATA[Console.ReadKey(false);$end$]]>
		</Code>
	</Snippet>
</CodeSnippet>